body {
	margin: 0;
	padding: 0;
	border: 0;
	color: black;
	background-color: white;
	min-height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

img {
	-webkit-user-drag: none;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

::selection {
	background-color: rgba(55, 55, 55, .1);
}

.container {
	max-width: 1020px;
	margin: 0 auto;
}

.container-wide {
	max-width: 1240px;
	margin: 0 auto;
}


/* LOGO
 =================================== */

.logo {
	margin: 50px 0 40px;

	img {
		max-height: 45px;
		transition: none;
	}

	a {
		padding: 50px 0;
		color: inherit;
		text-decoration: none;

		&:hover {
			img {
				opacity: 1;
			}
		}

		&:focus img,
		&:active img {
			border: 1px double #444444;
			padding: 15px 20px 8px;
			margin: -16px 5px -9px -21px;
			transition: none;
		}
	}
}


/* FONTS
 =================================== */


/* Greycliff CF */

@font-face {
	font-family: 'Greycliff CF Regular';
	src: url("./assets/fonts/GreycliffCF-Regular.woff2") format("woff2");
}

@font-face {
	font-family: 'Greycliff CF Bold';
	src: url("./assets/fonts/GreycliffCF-Bold.woff2") format("woff2");
}

@font-face {
	font-family: 'Greycliff CF Medium';
	src: url("./assets/fonts/GreycliffCF-Medium.woff2") format("woff2");
}

@font-face {
	font-family: 'Greycliff CF Heavy';
	src: url("./assets/fonts/GreycliffCF-Heavy.woff2") format("woff2");
}

@font-face {
	font-family: 'Greycliff CF ExtraBold';
	src: url("./assets/fonts/GreycliffCF-ExtraBold.woff2") format("woff2");
}

/* JetBrains Mono */

@font-face {
	font-family: 'JetBrains Mono Bold';
	src: url("./assets/fonts/JetBrainsMono-Bold.woff2") format("woff2");
}

/* Space Grotesk */

@font-face {
	font-family: 'Space Grotesk Medium';
	src: url("./assets/fonts/SpaceGrotesk-Medium.woff2") format("woff2");
}

@font-face {
	font-family: 'Space Grotesk Bold';
	src: url("./assets/fonts/SpaceGrotesk-Bold.woff2") format("woff2");
}

/* Readex Pro */

@font-face {
	font-family: 'Readex Pro Regular';
	src: url("./assets/fonts/ReadexPro-Regular.woff2") format("woff2");
}

@font-face {
	font-family: 'Readex Pro Bold';
	src: url("./assets/fonts/ReadexPro-Bold.woff2") format("woff2");
}

/* Newsreader */

@font-face {
	font-family: 'Newsreader Regular';
	src: url("./assets/fonts/Newsreader-Regular.woff2") format("woff2");
}


/* GRID SYSTEM
 =================================== */

.grid {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);

	.span-2 {
		grid-column: span 2;
	}

	.span-3 {
		grid-column: span 3;
	}
}


/* HEADER
 =================================== */

header {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	position: relative;
	z-index: 99;
}

nav > .desktop {
	margin-top: 1.5rem;

	ul {
		list-style-type: none;
		padding: 0;
		white-space: nowrap;
		margin: -5px -20px 0 0;

		li {
			display: inline-block;

			a {
				display: block;
				color: #2a2a2a;
				padding: 25px;
				text-decoration: none;
				text-transform: uppercase;
				font-family: 'Greycliff CF Regular', serif;
				letter-spacing: .8px;
				font-size: 16px;
				text-shadow: none;

				&:hover sup {
					background-color: #000000;
					transform: translateY(-2px);
					transition: transform .2s;
				}

				span {
					display: block;
					pointer-events: none;
					-webkit-transition: transform .3s, opacity .15s;
					-moz-transition: transform .3s, opacity .15s;
					transition: transform .3s, opacity .15s;
				}

				&.active span,
				&:hover span,
				&:focus span {
					color: #1f1f1f;
					display: block;
					transform: translateY(-0.35em);
					-webkit-transition: transform .2s ease, opacity .15s;
					-moz-transition: transform .2s ease, opacity .15s;
					transition: transform .2s ease, opacity .15s;
					mix-blend-mode: difference;
				}

				&::before {
					display: block;
					opacity: 0;
					color: #1f1f1f;
					content: attr(data-hover);
					position: absolute;
					transform: scale(1, -1);
					-webkit-transition: -webkit-transform .3s, opacity .15s;
					-moz-transition: -moz-transform .3s, opacity .15s;
					transition: transform .3s, opacity .15s;
				}

				&.active::before,
				&:hover::before,
				&:focus::before {
					display: block;
					transform: translateY(0.35em) scale(1, -1);
					opacity: .4;
					-webkit-transition: -webkit-transform .2s ease-out, opacity .15s;
					-moz-transition: -moz-transform .2s ease-out, opacity .15s;
					transition: transform .2s ease-out, opacity .15s;
					mix-blend-mode: difference;
				}

				sup {
					background-color: #2d2d2d;
					color: white;
					font-size: 8px;
					font-family: 'Greycliff CF Heavy', sans-serif;
					padding: 4px 8px;
					border-radius: 4px;
					vertical-align: .3rem;
					margin-left: .75rem;
					transition: transform .15s;
				}
			}
		}
	}
}


/* HOME PROMO
 =================================== */

.home {
	.promo {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: 3rem auto 1rem;
		gap: 3.5rem;

		.profile {
			width: 275px;
			text-align: center;

			.picture {
				background-color: #F5F5F5;
				height: 280px;
				width: 293px;
				border-radius: 50%;

				img {
					margin-top: -2.65rem;
					border-radius: 124px;
				}
			}

			.socials {
				margin-top: 1.5rem;

				ul {
					list-style-type: none;
					padding: 0;

					li {
						display: inline-block;
						margin: 0 .5rem;

						&:nth-child(1) img {
							vertical-align: -.075rem;
						}

						&:nth-child(3) img {
							vertical-align: .04rem;
							transform: scale(1.05);
						}

						a {
							text-decoration: none;
							color: inherit;

							&:hover {
								opacity: .7;
							}
						}
					}
				}
			}
		}

		.introduction {
			height: 40rem;
			margin-top: -10rem;
			width: 400px;
			border-left: 1px solid #E4E4E4;
			padding-left: 3rem;

			h1 {
				margin: 9.5rem 0 0;
				font-family: 'Space Grotesk Bold', sans-serif;
				color: black;
				font-size: 96px;
				line-height: 85px;
			}

			.underscore {
				display: block;
				height: 10px;
				width: 107px;
				background-color: black;
				margin: 0 0 0 .37rem;
			}

			h2 {
				font-family: 'Space Grotesk Medium', sans-serif;
				color: #A0A0A0;
				font-size: 24px;
				line-height: 27px;
				font-weight: normal;
				margin: 1.5rem 0 1rem;
				letter-spacing: -1px;
			}

			p {
				font-family: 'Greycliff CF Regular', sans-serif;
				color: #A0A0A0;
				font-size: 15px;
			}

			.actions {
				width: 400px;
				margin-top: 2rem;
			}

			.separator {
				position: absolute;
				height: 1px;
				overflow-x: hidden;
				white-space: nowrap;
				width: 2048px;
				margin: 5rem 0 0 -10rem;
				background-color: #E4E4E4;
			}
		}
	}

	/* Spotlight */
	.spotlight {
		height: 700px;
		overflow: hidden;
		margin: 1rem 0 0;

		.cards {
			margin: 1.5rem 0 0;

			.card {
				max-width: 870px;
				display: flex;
				background-color: #F5F5F5;
				border-radius: 10px;
				padding: 55px 75px;

				.illustration {
					width: 45%;

					img {
						width: 307px;
						height: 314px;
						object-fit: cover;
					}
				}

				.description {
					width: 45%;

					h2 {
						font-family: 'Greycliff CF ExtraBold', sans-serif;
						font-size: 75px;
						color: black;
						margin: 0;
						padding: 0;
						letter-spacing: -1px;
						font-weight: normal;
						line-height: 100%;
					}

					p {
						font-family: 'Greycliff CF Regular', sans-serif;
						font-size: 20px;
						color: #A0A0A0;
					}

					.actions {
						display: inline-block;
						margin: .75rem 0 0;
					}
				}
			}

			.swiper-pagination {
				margin-top: 1.75rem;
				display: block;
				position: relative;

				&-bullet {
					height: 12px;
					width: 12px;
					border-radius: 50%;
					background-color: #D9D9D9;
					opacity: 1;
					transition: .2s;

					&:hover {
						background-color: #5E5E5E;
					}
				}

				&-bullet-active {
					width: 66px;
					border-radius: 10px;
					transition: .2s;
				}
			}
		}
	}

	/* Tech-Stack */
	.techstack {
		.wrapper {
			margin: 1rem auto 4rem;
		}

		.grid {
			display: flex;
			width: 100%;
			gap: 22px;

			&.justify-end {
				justify-content: flex-end;
			}

			.column {
				width: calc((100% / 7)); /* Adjust margin as needed */
				box-sizing: border-box;
				margin: 0;
			}

			.big-column {
				width: calc(((100% / 7) * 2) + 10px); /* Spanning two columns */
			}

			.large-column {
				width: calc(((100% / 7) * 3) + 20px); /* Spanning three columns */
			}

			.large-and-a-half-column {
				width: calc(((100% / 7) * 3.5) + 25px); /* Spanning three columns */
			}

			.huge-column {
				width: calc(((100% / 7) * 4) + 30px); /* Spanning three columns */
			}

			.enormous-column {
				width: calc(((100% / 7) * 5) + 40px); /* Spanning five columns */
			}

			.monumental-column {
				width: calc(((100% / 7) * 6) + 50px); /* Spanning six columns */
			}

			.full-column {
				width: 100%; /* Spanning seven columns */
			}

			.card {
				margin: 11px 0;
				position: relative;
				cursor: pointer;

				&:hover > img {
					opacity: 0;
					transition: .2s ease-out;

					&+ .hidden {
						opacity: 1;
						transition: .2s ease-out;
					}
				}

				&:focus > img,
				&:active > img {
					transition: .1s;

					&+ .hidden {
						opacity: .6;
						transition: .1s;
					}
				}

				img {
					width: 100%;

					&.hidden {
						opacity: 0;
						transition: .2s ease-out;
						position: absolute;
						width: 100%;
						left: 0;
					}
				}
			}
		}
	}

	/* Stories */
	.stories {
		overflow: hidden;
		margin: 1rem 0 0;

		.cards {
			margin: 20px 0 0;

			.card {
				max-width: 530px;
				display: flex;
				background-color: #F5F5F5;
				border-radius: 10px;
				padding: 55px 75px;
			}

			.swiper-pagination {
				margin-top: 1.75rem;
				display: block;
				position: relative;
				margin-left: calc(34rem / 2);

				&-bullet {
					height: 12px;
					width: 12px;
					border-radius: 50%;
					background-color: #D9D9D9;
					opacity: 1;
					transition: .2s;

					&:hover {
						background-color: #5E5E5E;
					}
				}

				&-bullet-active {
					width: 66px;
					border-radius: 10px;
					transition: .2s;
				}
			}

			&.second {
				margin-left: -34rem;
			}
		}
	}
}

/* HEADINGS
 =================================== */

.heading {
	h1 {
		font-family: 'Readex Pro Bold', sans-serif;
		font-size: 96px;
		margin: 0;
		transition: .2s;
		letter-spacing: -1px;
	}

	.lead {
		position: absolute;
		left: 0;
		margin-top: 68px;
		display: inline-block;
		height: 1px;
		width: 170px;
		background-color: #E4E4E4;
		transition: .2s;
	}
}


/* BUTTONS
 =================================== */

a.button {
	margin-right: 20px;
	text-decoration: none;
	font-family: 'JetBrains Mono Bold', sans-serif;
	font-size: 18px;
	color: #292929;
	background-color: white;
	padding: 8px 14px;
	text-transform: uppercase;
	border-radius: 5px;
	font-weight: normal;

	&.primary {
		color: white;
		background-color: #292929;
	}

	&::after {
		content: '->';
		padding-left: 32px;
		font-size: 11pt;
		vertical-align: .07rem;
	}
}


/* SCROLLBAR
 =================================== */

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	background: transparent;
	transition: .4s;

	&:hover {
		background: #F0F0F0;
		transition: .4s;
	}
}

::-webkit-scrollbar-thumb {
	background: #444444;
	border-radius: 15px;
	transition: .4s;

	&:hover {
		background: #555555;
		transition: .4s;
	}
}


/* TOOLTIPS
 =================================== */

.tooltip {
	width: auto;
	background-color: #444444;
	color: white;
	text-align: center;
	padding: 5px 20px;
	border-radius: 6px;
	position: absolute;
	z-index: 999;
	margin: 5.5rem 0 0 0;
	font-family: 'Greycliff CF Regular', sans-serif;
	letter-spacing: .05rem;

	&:hover {
		pointer-events: none;
	}
}


/* PRELOADER
 =================================== */

.preloader {
	margin: 0 auto;
	padding: 35vh 0;

	.spinner {
		border: 2px solid #222222;
		border-top: 2px solid white;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		animation: spin .4s linear infinite;
		margin: 0 auto;
	}

	p {
		margin: 0 auto 0 12px;
		text-align: center;
		font-family: 'Greycliff CF Regular', sans-serif;
		letter-spacing: .1rem;
		text-transform: uppercase;
		color: #666666;
		padding: 20px 0;
		font-size: 9pt;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* iMessage */

.imessage {
	border-radius: 0.25rem;
	display: flex;
	flex-direction: column;
	font-family: 'Greycliff CF Regular', sans-serif;
	font-size: 1.25rem;
	margin: 0 auto 1rem;
	max-width: 600px;

	p {
		transform: scale(1.25);
		border-radius: 1.15rem;
		line-height: 1.25;
		max-width: 75%;
		padding: 1rem 1.5rem;
		position: relative;
		word-wrap: break-word;

		&::before,
		&::after {
			bottom: -0.1rem;
			content: "";
			height: 1rem;
			position: absolute;
		}
	}
}

p {
	&.from-me {
		background-image: linear-gradient(180deg, rgba(233, 233, 233, 1) 0%, rgba(209, 209, 209, 1) 100%);
		color: #444444;

		&::before {
			border-bottom-left-radius: 0.8rem 0.7rem;
			border-right: 1rem solid #d1d1d1;
			right: -0.35rem;
			transform: translate(0, -0.1rem);
		}

		&::after {
			background-color: black;
			border-bottom-left-radius: 0.5rem;
			right: -40px;
			transform: translate(-30px, -2px);
			width: 10px;
		}
	}

	&.from-them {
		background-image: linear-gradient(180deg, rgba(233, 233, 233, 1) 0%, rgba(209, 209, 209, 1) 100%);
		color: #444444;

		&:before {
			border-bottom-right-radius: 0.8rem 0.7rem;
			border-left: 1rem solid #d1d1d1;
			left: -0.35rem;
			transform: translate(0, -0.1rem);
		}

		&::after {
			background-color: black;
			border-bottom-right-radius: 0.5rem;
			left: 20px;
			transform: translate(-30px, -2px);
			width: 10px;
		}
	}
}


/* RESPONSIVE DESIGN
 =================================== */

/* -- Full HD */
@media (max-width: 1920px) {

}

/* -- 1620vw */
@media (max-width: 1620px) {

	/* Container Wide */
	.container-wide {
		max-width: 1420px;
	}

}

/* -- 1650vw */
@media (max-width: 1600px) {

}

/* -- 1400vw */
@media (max-width: 1400px) {

	/* Grid System */

	.grid {
		display: block;

		> * {
			margin: 2rem 0;
		}
	}

	/* Container */
	.container {
		margin: 0 3rem;
	}

}

/* -- 1250vw */
@media (max-width: 1250px) {

}

/* -- 1080vw */
@media (max-width: 1080px) {

}

/* -- 800vw */
@media (max-width: 800px) {

}

/* -- 550vw Mobile Large */
@media (max-width: 525px) {

}

/* -- 450vw */
@media (max-width: 450px) {

}
